h1 {color: red;}
h1 {text-align: center;}
h1 {font-size: 500%;}
#img1 {margin-left: 25%;}
h2 {color: darkgreen;}
#img2 {width: 20%;}
h2 {font-size: 400%;}
h2 {text-align: center;}
h3 {text-align: center;}
#img2 {margin-left: 40%;}
p {font-size: 200%;}
h3 {font-size: 150%;}
#img3 {margin-left: 38%;}
#img3 {width: 25%;}
h4 {font-size: 150%;}
h4 {text-align: center;}
p {color: brown;}
h5 {font-size: 150%;}
h5 {text-align: center;}
#img4 {margin-left: 40%;}
#img4 {width: 21%;}
h6 {text-align: center;}
h6 {font-size: 150%;}
#img5 {margin-left: 35%;}
#img5 {width: 30%;}


